<% if @user.errors.any? %>
  <div class="error-explanation">
    <div class="alert alert-danger", role="alert">
      <% @user.errors.full_messages.each do |msg| %>
        <ul><%= msg %></ul>
      <% end %>
    </div>
  </div>
<% end %>
