<h1>Articles</h1>

<p>Our blog has <%= Article.public_count %> articles and counting!</p>

<%= link_to "New article", new_article_path, class: "button" %>

<ul class="article-list">
  <% @articles.each do |article| %>
    <li class="article-list__item">
      <a href="<%= article_path(article) %>">
        <div class="article-list__item__header">
          <div class="article-list__item__header__title">
            <%= article.title %>
            <% if article.private? %>[Private]<% end %>
            <% if article.archived? %>[Archived]<% end %>
          </div>

          <div class="article-list__item__header__date">
            <%= time_ago_in_words(article.created_at) %> ago (<%= article.created_at.strftime("%F, %H:%M") %>)
          </div>
        </div>
      </a>

      <div class="article-list__item__preview">
        <%= truncate(article.body, length: 50, separator: " ") %>
      </div>
    </li>
  <% end %>
</ul>
