<h1><%= @article.title %></h1>

<p><%= simple_format(@article.body) %></p>

<%= link_to "Back", root_path, class: "button" %>
<%= link_to "Edit", edit_article_path(@article), class: "button button--warning" %>
<%= link_to "Destroy", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "button button--danger" %>

<h2>Comments</h2>
<h3>Add a comment</h3>
<div class="comment-new-form">
  <%= render "comments/form", article: @article %>
</div>

<div id="article-comments">
  <% @article.comments.reverse_each do |comment| %>
    <% unless comment.new_record? %>
      <%= render "comments/comment", comment: comment %>
    <% end %>
  <% end %>
</div>
