<div class="comment">
  <div class="comment__header">
    <div class="comment__header__author">
      <%= comment.commenter %>
      <% if comment.private? %>[Private]<% end %>
      <% if comment.archived? %>[Archived]<% end %>
    </div>
    <div class="comment__header__date">
      <%= time_ago_in_words(comment.created_at) %> ago (<%= comment.created_at.strftime("%F, %H:%M") %>)
    </div>
  </div>
  <div class="comment__toolbox">
    <%= link_to "Destroy", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "tool-button tool-button--danger" %>
  </div>
  <div class="comment__content"><%= comment.body %></div>
</div>
