<%= form_with model: [article, article.comments.build] do |form| %>
  <p>
    <%= form.label :commenter %>
    <%= form.text_field :commenter %>
  </p>

  <p>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </p>

  <div>
    <%= form.label :status %><br>
    <%= form.select :status, Visible::VALID_STATUSES, selected: Visible::DEFAULT_STATUS %>
  </div>

  <%= form.submit %>
<% end %>
