<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container center">
    <%= link_to "Microposts", root_path, id: "logo", class: "navbar-brand" %>
    <nav>
      <ul class="navbar-nav">
        <li><%= link_to "Home", root_path, class: "nav-link" %></li>
        <li><%= link_to "Help", help_path, class: "nav-link" %></li>

        <% if logged_in? %>
          <li><%= link_to "Users", "#", class: "nav-link" %></li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <%= current_user.name %>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Profile", current_user, class: "dropdown-item" %></li>
              <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Log out", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path, class: "nav-link" %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
