<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

    <%= render "layouts/shims" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container main-container">
      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <% end %>

      <%= yield %>

      <%= render "layouts/footer" %>

      <% if Rails.env.development? %>
        <div class="container bg-dark text-light rounded">
          <%= debug(params) %>
        </div>
      <% end %>
    </div>
  </body>
</html>
