@import "~bootstrap/scss/bootstrap";

// Mixins

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Universal

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.main-container {
  margin-top: 40px;
}

.center {
  text-align: center;
}

.error-explanation {
  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
}

// Typography

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// Header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

// Footer

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-600;
  color: $gray-600;

  a {
    color: $gray-800;
    &:hover { color: $gray-900; }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

// Sidebar

aside {
  section {
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.8em;
    }
    small {
      font-size: 0.75em;
    }
  }
}
.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit {
  margin-top: 15px;
}

// Login

.login-box {
  max-width: 480px;
  margin: auto;
}

// For debug output

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 45px;
}
