// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$header: #BBB;
$header-hover: #BBF;
$content: #CCC;

.article-list {
  padding: 0;

  li {
    list-style-type: none;
  }

  &__item {
    margin-bottom: 4px;

    &__header {
      background: $header;
      padding: 4px;
      overflow: auto;
      color: #000;

      &:hover, &:focus {
        background: $header-hover;
      }

      &__title {
        display: inline-block;
        font-weight: 700;
      }

      &__date {
        display: inline-block;
        float: right;
      }
    }

    &__preview {
      background: $content;
      padding: 4px;
    }
  }
}
