// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$header: #BBB;
$toolbox: #AAA;
$content: #CCC;

.comment {
  margin-bottom: 4px;

  &__header {
    background: $header;
    padding: 4px;
    overflow: auto;
    color: #000;

    &__author {
      display: inline-block;
      font-weight: 700;
    }

    &__date {
      display: inline-block;
      float: right;
    }
  }

  &__toolbox {
    background: $toolbox;
    padding: 0 2px;
    overflow: auto;
    color: #000;

    * {
      float: right;
    }
  }

  &__content {
    background: $content;
    padding: 4px;
  }
}

.comment-new-form {
  margin-bottom: 8px;
}
