$button-bg: #CCC;
$button-bg--warning: #ED7;
$button-bg--danger: #F32;
$button-text: #000;
$button-text--danger: #FFF;
$button-border-color: #888;
$button-bg-hover: #AAA;

.button {
  background: $button-bg;
  padding: 4px;
  color: $button-text;
  text-decoration: none;
  border: 1px solid $button-border-color;
  border-radius: 4px;

  &:hover {
    background: $button-bg-hover;
  }
}

.button--warning {
  background: $button-bg--warning;
}

.button--danger {
  background: $button-bg--danger;
  color: $button-text--danger;
}

.tool-button {
  display: inline-block;
  background: $button-bg;
  padding: 2px;
  color: $button-text;
  text-decoration: none;

  &:hover {
    background: $button-bg-hover;
  }
}

.tool-button--warning {
  background: $button-bg--warning;
}

.tool-button--danger {
  background: $button-bg--danger;
  color: $button-text--danger;
}
