<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SplitSenpai!</title>
        <link rel="stylesheet" href="/static/css/bulma.min.css" />
        <link rel="stylesheet" href="/static/css/splitsenpai.css" />
    </head>
    <body>
        <section class="hero is-danger is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">{{ status_code }}</h1>
                    <p class="subtitle">Something went terribly wrong</p>
                    <a class="button is-warning" href="/">Back to dashboard</a>
                </div>
            </div>
        </section>
    </body>
</html>
