<!DOCTYPE html>
<html>
  <head>
    <title>RailsPolls</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <% if Rails.env.development? %>
      <div class="container bg-dark text-light rounded">
        <%= debug(params) %>
      </div>
    <% end %>
  </body>
</html>
