<div class="container">
  <div class="row">
    <aside class="col-sm-3">
      <section>
        <%= gravatar_for @user, size: 85 %>
        <h1 class="align-middle"><%= @user.name %></h1>
        <small><%= @user.id %></small>
      </section>
      <section>
        <p>Joined <%= @user.created_at %></p>
      </section>
    </aside>

    <div class="col-sm-9">
      <p>woah</p>
    </div>
  </div>
</div>
