<div class="center bg-light p-5 m-3 rounded">
  <h1 class="display-4">Micropoooooooooooosts</h1>
  <h2 class="lead">This is the home page for Micropoooooooooooosts owo</h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails-logo.svg", alt: "Rails logo", width: 200), "https://rubyonrails.com" %>
