<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if post = @user.microposts.first %>
  <h3>First micropost</h3>
  <p>
    <%= post.content %>
  </p>
<% else %>
  <h3>This user hasn't made any microposts yet</h3>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
