<h1>New poll</h1>

<%= form_for @poll do |form| %>
  <%= form.label :question, "Question" %>
  <%= form.text_field :question %>

  <%= form.fields_for :poll_options do |child_fields| %>
    <%= child_fields.label :option, "Option" %>
    <%= child_fields.text_field :option %>
  <% end %>

  <%= form.submit "Create" %>
<% end %>
