<h1><%= @poll.question %></h1>
<ul>
  <% @poll.poll_options.each do |opt| %>
    <li>
      <h3><%= opt.option %></h3>
      <p><%= opt.votes %> votes</p>
      <%= form_for :vote, url: vote_poll_option_path(opt.id) do |form| %>
        <%= form.submit "Vote" %>
      <% end %>
    </li>
  <% end %>
</ul>
