<% provide :title, "Log in" %>

<div class="login-box">
  <h1 class="text-center">Log in</h1>

  <%= form_with url: login_path, scope: :session, local: true do |f| %>
    <div class="mb-3">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %>
      <%= f.password_field :password, class: "form-control" %>
    </div>

    <%= f.submit "Login", class: "btn btn-primary w-100" %>
  <% end %>

  <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
